.nav-item a.nav-link.active {
    color: #fff !important;
    font-weight: 700 !important;
}

.nav-item a.nav-link.active i {
    color: #fff !important;
}

select.dt-input {
    margin-right: 10px;
}

div.dt-search label {
    margin-right: 10px;
}

div.dt-buttons.btn-group {
    margin-bottom: 2rem;
    gap: 10px;
}

div.dt-buttons.btn-group button {
    border-radius: .35rem !important;
}

.btn.buttons-csv {
    background-color: #37B8CC;
    border: none;
}

.btn.buttons-excel {
    background-color: #1BC88A;
    border: none;
}

.btn.buttons-pdf {
    background-color: #E74A3B;
    border: none;
}

.btn.buttons-print {
    background-color: #4E73DF;
    border: none;
}

/* div.dt-search input {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d1d3e2;
    border-radius: .35rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
} */